<html>
<head>
    <link rel="stylesheet" type="text/css" href="/static/site.css" />
    <link rel="alternate" type="application/rss+xml" title="garoozis.guerrera.org Feed" href="http://garoozis.guerrera.org/feed.rss" />
    <title>@Model.Title</title>
</head>
<body>
    <div class="page">
        <div class="header">
            <h1>garoozis.guerrera.org</h1>
        </div>
        <div class="content">
            @Model.Content
        </div>
        <div>
        @for (int i = 0; i < 10; i++)
        {
            <div>@i. Item</div>
        }
        </div>
        <div class="footer">
            <a href="https://github.com/aguerrera/Garoozis">Garoozis</a>: Razor Templates -> Static Files
        </div>
    </div>
</body>
</html>
