<html>
<head>
    <link rel="stylesheet" type="text/css" href="/static/site.css" />
    <link rel="alternate" type="application/rss+xml" title="garoozis.guerrera.org Feed" href="http://garoozis.guerrera.org/feed.rss" />
    <title>@Model.Title</title>
</head>
<body>
    <div class="page">
        <div class="header">
            <h1>garoozis.guerrera.org</h1>
        </div>
        <div class="content">
            @Model.Content
        </div>
        <div class="pager">
            @if (Model.NextPost.Title != "")
            {
                <div>Next: <a href="/@Model.NextPost.Url">@Model.NextPost.Title</a></div>
            }
            @if (Model.PrevPost.Title != "")
            {
                <div>Prev: <a href="/@Model.PrevPost.Url">@Model.PrevPost.Title</a></div>
            }
        </div>
        <div class="footer">
            <a href="https://github.com/aguerrera/Garoozis">Garoozis</a>: Razor Templates -> Static Files
        </div>
    </div>
</body>
</html>
